<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.mrarm.irc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:manageSpaceActivity=".StorageSettingsActivity"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity android:name=".ShareTargetActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

            <meta-data
                android:name="android.service.chooser.chooser_target_service"
                android:value="io.mrarm.irc.IRCChooserTargetService" />
        </activity>
        <activity
            android:name=".EditServerActivity"
            android:label="@string/edit_server" />
        <activity
            android:name=".EditNotificationSettingsActivity"
            android:label="@string/title_activity_edit_notification_settings" />
        <activity
            android:name=".EditCommandAliasActivity"
            android:label="@string/title_activity_edit_command_alias" />
        <activity
            android:name=".IgnoreListActivity"
            android:label="@string/title_activity_ignore_list" />
        <activity
            android:name=".EditIgnoreEntryActivity"
            android:label="@string/title_activity_edit_ignore_entry" />
        <activity
            android:name=".ChannelListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:label="@string/title_activity_channel_list"
            android:theme="@style/AppTheme.NoActionBar.OpaqueStatusBar" />
        <activity
            android:name=".CertificateManagerActivity"
            android:label="@string/title_activity_certificate_manager" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MessageFormatSettingsActivity"
            android:label="@string/title_activity_message_format_settings" />
        <activity
            android:name=".StorageSettingsActivity"
            android:exported="true"
            android:label="@string/pref_header_storage" />
        <activity
            android:name=".setup.BackupActivity"
            android:label="@string/title_activity_backup"
            android:theme="@style/AppTheme.NoActionBar.OpaqueStatusBar" />
        <activity
            android:name=".setup.BackupPasswordActivity"
            android:label="@string/title_activity_backup_password"
            android:theme="@style/AppTheme.NoActionBar.OpaqueStatusBar"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".setup.BackupProgressActivity"
            android:label="@string/title_activity_backup_progress"
            android:theme="@style/AppTheme.NoActionBar.OpaqueStatusBar" />
        <activity
            android:name=".setup.BackupCompleteActivity"
            android:label="@string/title_activity_backup"
            android:theme="@style/AppTheme.NoActionBar.OpaqueStatusBar" />

        <service android:name=".IRCService" />
        <service android:name=".job.ServerPingJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <receiver android:name=".job.ServerPingBroadcastReceiver" />
        <service
            android:name=".IRCChooserTargetService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_CHOOSER_TARGET_SERVICE">
            <intent-filter>
                <action android:name="android.service.chooser.ChooserTargetService" />
            </intent-filter>
        </service>

        <receiver
            android:name=".ChannelNotificationManager$NotificationActionReceiver"
            android:exported="false" />
    </application>

</manifest>