<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.mrarm.irc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EditServerActivity"
            android:label="@string/edit_server" />
        <activity
            android:name=".EditNotificationSettingsActivity"
            android:label="@string/title_activity_edit_notification_settings" />
        <activity
            android:name=".EditCommandAliasActivity"
            android:label="@string/title_activity_edit_command_alias" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MessageFormatSettingsActivity"
            android:label="@string/title_activity_message_format_settings" />
        <activity
            android:name=".setup.BackupActivity"
            android:label="@string/title_activity_backup"
            android:theme="@style/AppTheme.Setup" />
        <activity
            android:name=".setup.BackupPasswordActivity"
            android:label="@string/title_activity_backup_password"
            android:theme="@style/AppTheme.Setup"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".setup.BackupProgressActivity"
            android:label="@string/title_activity_backup_progress"
            android:theme="@style/AppTheme.Setup" />
        <activity
            android:name=".setup.BackupCompleteActivity"
            android:label="@string/title_activity_backup"
            android:theme="@style/AppTheme.Setup" />

        <service android:name=".IRCService" />
    </application>

</manifest>